// Global style
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 16px;
}

// images style

/* -----------------------------------  loader style------------------------------------------ */
.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    // display: none;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    // visibility: hidden;
}
.loader img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loader.hidden {
    animation: fadeouts 2s;
    animation-fill-mode: forwards;
}
@keyframes fadeouts {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* ------------------------------------------------------------------------------ */
#sec {
    padding: 5px 0;
    width: 60% !important;
    height: 100% !important;
    margin: auto !important;
    position: relative;

    #header {
        width: 100% !important;
        padding: 0 10px;
        h4 {
            font-size: 1.5rem;
        }

        .resource_icon,
        .help_icon {
            width: 35px;
            margin: 0 5px ;
            img {
                width: 100%;
            }
        }
    }
    #body {
        position: relative;
        height: 80vh;
        border: 2px solid red;
        border-radius: 10px;
        padding: 5px 0;
        #choices {
            width: 70%;
            text-align: center;
            // choices style
            span {
                display: inline-block;
                margin: auto;
                font-size: 1.4rem !important;
                cursor: pointer;
                font-weight: 700;
                margin: 0 5px 5px 0;
                padding: 0 20px 8px;
                background-color: #fff;
                border: 2px solid #0fa0c5;
                border-radius: 10px;
            }
        }
        // basket style
        .content {
            padding: 0 !important;
            height: 80%;
            width: 100% !important;
            margin: auto;
            background-image: url("../images/p15e11.png");
            background-size: 100% 100% !important;
            .divs {
                position: absolute;
                width: 100%;
                margin: auto;
                height: 120px;
                // background-color: red;
                top: 310px;
                .left {
                    position: absolute;
                    // top: 197px;
                    left: 20px;
                }
                .center {
                    position: absolute;
                    top: 60px;
                    left: 265px;
                    .one {
                        visibility: hidden;
                    }
                }
                .right {
                    position: absolute;
                    // top: 197px;
                    right: 0;
                    // margin: auto;
                }
                // option
                .option {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    height: 55px;
                    // background-color: yellow !important;
                    font-size: 1.2rem !important;
                    font-weight: 700;
                    // width: 200px !important;
                    z-index: 555;
                    // text-align: left;
                    padding-top: 25px;
                    // padding-left: 15px;
                    // margin-top: 25px;
                    img {
                        width: 50px !important;
                    }
                }
            }
            #help,
            #dumy {
                // color: #aaa;
                display: none;
                padding: 10px;
                position: absolute;
                top: 0;
                left: 0;
                height: 100% !important;
                width: 100% !important;
                z-index: 5555;
                border-radius: 3%;
                border: 1px solid red;
                background-color: #fff;
                margin: auto;
                img {
                    width: 25px !important;
                    height: 25px !important;
                }
            }
            #dumy {
                background-image: url("../images/dummy.jpg");
                background-size: 100% 100%;
            }
        }
    }

    #footer {
        img{
            max-width: 45px;
            max-height: 45px;
        }
    }
}

// hover choices style
.active {
    background-color: rgba($color: #0fa0c5, $alpha: 1) !important;
    color: #fff !important;
}
